<div class="wrapper wrapper-content animated fadeInRight"> 
   <div class="ibox float-e-margins">
         <div class="ibox-title">
                            <h5>Descargables Itecban Mobile, Android e iOs</h5>
                           
         </div>
         <div class="ibox-content">  
             
         <div class="row" >
             
                    <div class="col-md-6">
                       <i class="fa fa-android fa-5x" ></i>
                       <span>ejecutable apk</span>
                    </div>
                     <div class="col-md-6">
                       <i class="fa fa-apple fa-5x" ></i>
                       <span>ejecutable ipa</span>
                    </div>

        </div>
                &nbsp;
         <div class="row" >
              <h5>Datos del Entorno</h5>
                    

        </div>
        
        
        
        </div>
 </div>
</div>