
<form class="form-horizontal">
    <div class="form-group"><label class="col-lg-2 control-label">Código de Cliente</label>
        <div class="col-lg-10"><input type="text" placeholder="Codigo" [(ngModel)]="userCode" autocomplete="off" class="form-control"  name="userCode" required="" (keyup.enter)="getClient()">
        </div>
    </div>
    <div class="form-group">
        <div class="container-fluid" style="float:right;">
            <a class="btn btn-primary btn-rounded" (click)="getClient()" ><i class="fa fa-check"></i>Aceptar</a>
            <a class="btn btn-primary btn-rounded" (click)="resetSearch()" ><i class="fa fa-times"></i>Cancelar</a>
        </div>
    </div>
</form>

                          
                                      
                     
                        

