<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins ">
        
        
         <div class="ibox-title">
              <i class="fa fa-chevron-left btn" (click)="goBack()">Volver</i>
                      
              <div class="row" >
                  <div class="col-md-3 col-md-offset-2"></div>
                  <div class="col-md-3"><h5>Envío Manual Push</h5></div>
                  <div class="col-md-3"></div>
             </div>
             <div class="ibox-content">          
                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea class="form-control" [(ngModel)]="textPush" maxlength="100" id="message" rows="3" placeholder="Introduzca el mensaje a enviar ..."></textarea>
                     </div>
                    
                     <div class="row">
                     <div class="col-md-10"></div>
                     <div class="col-md-2 text-right"><button class="btn btn-primary btn-circle btn-lg" type="button" (click)="resolve()"><i class="fa fa-send"></i></button>
                         <button class="btn btn-primary btn-circle btn-lg" type="button" (click)="goBack()"><i class="fa fa-times"></i></button>
                     </div>
                    
                    </div>
                </div>

         
           
</div>


